@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.container {
    display: flex;
    justify-content: space-between; /* Separa horizontalmente los elementos */
    align-items: stretch; /* Estira los elementos para que ocupen la misma altura */
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    margin: 1rem auto; /* Centra horizontalmente y agrega separación vertical */
    width: 50rem; /* Ancho del contenedor */
    height: 35rem; /* Altura fija del contenedor */
}

.imagenes {
    flex: 0 0 45%; /* Ocupa el 45% del ancho del contenedor */
    text-align: center;
    background-color: white;
    min-height: 35rem; /* Asegura una altura mínima igual al contenedor */
    transition: transform 0.5s ease;
}

.imagenes-left {
    order: 1; 
}

.imagenes-right {
    order: 2;
}

.form-container {
    display: flex;
    justify-content: center; /* x */
    align-items:first baseline; /* y */
    min-height: 100%;
}

.sign-in-left {
    width: 55%; 
    order: 1; 
}

.login-right {
    width: 55%;
    order: 2;
}

.login-container {

}

.titulo-login-signIn {
    font-family: "Outfit", serif;
    font-size: 2rem;
}

.input-group {

}